.container {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    align-self: flex-start;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
.save_button {
    padding: 10px;
    background-color: #ffc273;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}
.save_button:hover {
    /* scale: 1.01; */
    /* font-size: 14px; */
    background-color: #ffcb87;

}
.container input,.container select {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0;
}
.inputs {
    display: flex;
    flex-direction: column;
}
