.container {
    display: flex;
    flex-wrap: wrap ;
    gap: 20px;
}

.todo {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    min-width: 200px;
    max-width: 320px;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    background-color: white;
}
.title,.title:active {
    outline: none;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.description, .description:active{
    outline: none;
    font-size: 12px;
    max-width: 320px;
    margin: 0;
    padding: 0;
}
.icon {
    width: 20px;
    height: 20px;
    color: red;
    cursor: pointer;
    align-self: flex-start;
}

.priority {
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
}