#root {
  margin: 0;
}
body {
  width: 100%;
}
p {
  font-size: 14px;
}
.categories{
  display: flex;
  list-style: none;
  gap: 37px;
  margin: 10px 0%;
  justify-content: center;
}
.categories li {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}