@import '../../../src/vars.css';
.container-hero {
    display: flex;
    width: 100%;
    background-color: white;
    margin: 0%;
    overflow: hidden;
    height: 510px;

}
.icon-a {
    padding: 30px;
    object-fit: cover;
    background-color: black;
}
.icon-a:hover {
    background-color: var(--color-v-dark-grey-);
}
.icon-a img {
    width: 100px;
    height: 100px;
}
.col-hero {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.text-description {
    padding: 100px 0px 80px 80px;
}
.text-description h1 {
    margin: 0%;
    line-height: 2.3rem;
}
.container-hero img {
    width: 60%;
    height: max-content;
    object-fit: scale-down;
    /* bac; */
}
.a-pagers {
    display: flex;
    /* align-items: center; */
}
.shop-a {
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .8rem;
    display: flex;
    align-items: center;
}
.shop-a img {
    width: 50px;
    margin: 0 20px;
}
.shop-a:hover{
    color: var(--color-v-dark-grey-);
}
.slider {
    width: 100%;
}