.top_news {
    margin: 30px 10%;
    padding: 5px 0 ;
    display: flex;
    gap: 37px;
    align-items: center;
    border-radius: 30px;
}

.img_left {
    width:50%;
    height: 350px;
    border-radius: 10px;
}

.right {
    width: 50%;
}
.right p {
    font-size: 12px
}
.right>p {
    font-size: 16px;
}
.source {
    display: flex;
    gap: 5px;
    align-items: center;   
}
.source img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}
.catg {
    display: flex;
    align-items: center;
}